/* Noto Sans Japanese */
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/font/NotoSansCJKjp-Regular.woff2') format('woff2'),
  url('/assets/font/NotoSansCJKjp-Regular.woff') format('woff'),
  url('/assets/font/NotoSansCJKjp-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: bold;
  font-weight: 700;
  src: url('/assets/font/NotoSansCJKjp-Bold.woff2') format('woff2'),
  url('/assets/font/NotoSansCJKjp-Bold.woff') format('woff'),
  url('/assets/font/NotoSansCJKjp-Bold.ttf')  format('truetype');
}
