// --- FONT ---
$baseFont: 'Noto Sans JP', "Helvetica Neue", "Segoe UI", Helvetica, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo !default;


// --- FONT SIZE ---
$fontSmall: 1rem !default;
$fontBase: 1.4rem !default;
$fontMedium: 2.2rem !default;
$fontLarge: 3.5rem !default;


// --- COLORS ---
$colorBlack: #000;