head
  meta(charset="utf-8")
  title= meta[page]['title']
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="format-detection", content="telephone=no")
  meta(name="description" content=meta[page]['description'])
  meta(name="keywords", content=meta[page]['keywords'])
  link(rel="stylesheet", href="/assets/styles/main.min.css")
  link(rel="stylesheet", href="/assets/styles/" + page + ".min.css")
