extends ../template/base/template
block page
  - const page = 'home';

block main
  main
    h1 test

block script
  script(src="/assets/scripts/vendor.bundle.js")
  script(src="/assets/scripts/main.bundle.js")