-
  var meta = {
    "default": {
      "title": "title",
      "description": "description - default",
      "keywords": "keywords - default",
      "image": "",
      "canonical": ""
    },
    "home": {
      "title": "title",
      "description": "description - home",
      "keywords": "keywords - home",
      "image": "",
      "canonical": ""
    }
  };